[submodule "dbj_buffering_research/dbj--nanolib"]
	path = dbj_buffering_research/dbj--nanolib
	url = https://github.com/dbj-systems/dbj--nanolib.git
	branch = master
[submodule "dbjsqluser/dbj--sqlite3"]
	path = dbjsqluser/dbj--sqlite3
	url = https://github.com/dbj-systems/dbj--sqlite3.git
[submodule "dbjsqluser/dbj--nanolib"]
	path = dbjsqluser/dbj--nanolib
	url = https://github.com/dbj-systems/dbj--nanolib.git
[submodule "dbj++sql/dbj--nanolib"]
	path = dbj++sql/dbj--nanolib
	url = https://github.com/dbj-systems/dbj--nanolib.git
[submodule "dbj--sqlite/dbj--nanolib"]
	path = dbj--sqlite/dbj--nanolib
	url = https://github.com/dbj-systems/dbj--nanolib.git
[submodule "dbj++ini/dbj--nanolib"]
	path = dbj++ini/dbj--nanolib
	url = https://github.com/dbj-systems/dbj--nanolib.git
